

.weather-logo{
    width: 100px;
    filter: drop-shadow(8px 4px 8px orange);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 0px 12px black;
    backdrop-filter: blur(10px);
}
.Weather-forecast{
    font-size: 45px;
    color: #494d5f;
    font-family: Robert;
    font-weight: bold;
    filter: drop-shadow(8px 4px 8px orange);
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    max-width: 300px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 550%;
    width: 60px;
    height: 60px;
    cursor: pointer; 
    
}

.search img{
    width: 20px;

}

.button{
    display: flex;
    align-items: center;
}

@media  screen and (max-width:576px) {

    .search input{
        font-size: 10px;
        padding: 5px 10px;
        height: 35px;
        max-width: 150px;

    }

    .search button{
        height: 35px;
        width: 35px;

    }
    
}