

.weather-details-container{
    width: 90%;
    max-width: 570px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 35px; 
    text-align: center;
    box-shadow: 0px 0px 12px black;

}

.weather-report {
    font-size: 45px;
    color: #494d5f;
    font-family: Robert;
    font-weight: bold;
    filter: drop-shadow(8px 4px 8px orange);
    text-decoration: underline;
}

.weather-icon{
    width: 170px;
    
}

.weather h1{
    font-size: 80px;
    font-weight: bold;

}

.weather h2{
    font-size: 45px;
    font-weight: bold;
    margin-top: -10px;
    
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;

}

.col img{
    width: 40px;
    margin-right: 10px;


}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
    
}

.back-button{
    text-align: start;
    width: 38px;
    
}

@media screen and (max-width: 576px) {
    .weather-icon{
        width: 80px;
    }
    
    .weather h1{
        font-size: 35px;
    }

    .weather h2{
        font-size: 25px;
    }
    .col img{
        width: 20px;

    }
    .humidity, .wind{
        font-size: 15px;
    }

    .weather-details-container{
        padding: 10px 0px;
    }

    .back-button{
        width: 22px;
    }
}
.Description {
    font-style: italic;
    color: grey;
    font-size: 30px;
}
.arrow {
    text-align: start;
}